<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>really, why?</title>
</head>
<body>
<h1>Actually why I do that?</h1>
<textarea id="w3review" name="w3review" rows="4" cols="50">
                              @@B@B
                              @B@B@
                              B@B@@
                              @@@B@
                              B@B@B
                              @@@@@
                              B@B@@
                              @B@B@
                              B@@@B
                              @@@B@
                              B@@@B
                              @B@B@
                              B@B@B
                              @@@B@
                            B@B@B@B@B,
                            MqJ7i7YPM.

                               7@:
                              r@B@:
                             r@@@B@:
                            ;@B@B@B@:
                           r@B@B@B@@@:
                          ;@@@B@B@B@B@:
                         i@B@@@B@B@B@B@:
                        i@B@B@B@B@B@@@B@:
                       i@B@B@B@@@B@B@B@B@:
                      i@B@B@B@B@B@B@@@B@B@:
                     i@B@B@B@u. , .u@B@@@B@:
                    i@B@B@Br   .@    7@@B@@@:
                   i@B@B@u     u@.     0@B@B@:
                  i@@@B@       XB:      .@B@B@:
                 :@B@B@M       F@:       B@B@@@,
                :@B@B@B@Bv     LB      5B@B@B@B@,
               :@B@B@B@B@@@:    @    :@B@B@B@B@@@,
              :@B@B@B@B@@@@@Bv     v@@B@B@B@B@B@B@,
             :@B@@@B@B@B@B@B@B@B@B@@@B@B@@@B@B@B@B@,
            :@B@B@B@B@B@Br7@@@@@B@B@BB:5B@@@B@B@B@B@,
           :@B@B@B@B@B@B@    j@B@BBr   J@B@@@B@B@B@B@,
          :@B@B@B@B@B@B@B:      r      S@@B@@@B@B@B@B@,
         ,@B@B@B@B@B@@@B@.    7G@Pi    U@B@B@B@B@B@@@B@.
        ,@B@B@B@B@@@B@B@B. YB@B@B@B@B; LB@B@@@@@B@@@@@@@.
       ,@@@@@B@@@B@B@B@B@B@B@@@@@B@@@B@@@B@@@@@B@B@B@B@B@.
      ,@B@B@B@@@B@B@@@B@@@B@B@B@B@@@B@B@B@B@B@@@B@B@B@B@B@.
     .@@@B@B@B@B@@@B@B@B@B@B@B@B@B@@@B@B@B@B@B@@@@@B@B@B@B@.
    ,@B@@@B@B@@@B@@@B@B@B@B@B@B@B@@@B@@@B@@@B@@@B@B@B@B@B@B@.
   .@B@B@B@B@B@B@B@B@B@B@B@B@B@B@B@B@@@B@B@@@B@B@B@B@B@@@B@B@.
  ,@B@B@B@B@B@B@@@B@B@B@@@B@B@B@B@B@B@@@B@B@B@B@B@B@@@B@B@B@B@.
 :@B@@@B@B@B@B@B@B@@@B@@@B@B@B@B@B@B@B@B@B@B@B@B@B@@@B@B@@@B@@@.
i@B@B@BBB@MBB@B@B@B@MMB@O@B@B@B@B@B@B@B@BBM@MBB@BMOM8GBMZOOMMBB@
        .5            Yu                   B          k
        rP            15                   @          P7
        v0            LB    @i             B          FU
        7G             @   MBi            U@          Uq
        vE             v@YM @i           J@           vG
        vG               :  Bi       MMXE2            rO
        LN                  @v       B7               rB
        i8                  i:       @j               :@
        .B                           BN               ,B
         @                           @q               iM
         B7                          Bi          r    u5
         iB  .v                                  78 0 B:
          @r iL Z                               8iuqO,B
           Mi@kO:                                ::uO7

</textarea><p>This is my first project with django framwork. I hope you enjoy it! :)</p>
</body>
</html>

<!--
                              @B@B@
                              @@B@B
                              @B@B@
                              B@B@@
                              @@@B@
                              B@B@B
                              @@@@@
                              B@B@@
                              @B@B@
                              B@@@B
                              @@@B@
                              B@@@B
                              @B@B@
                              B@B@B
                              @@@B@
                            B@B@B@B@B,
                            MqJ7i7YPM.

                               7@:
                              r@B@:
                             r@@@B@:
                            ;@B@B@B@:
                           r@B@B@B@@@:
                          ;@@@B@B@B@B@:
                         i@B@@@B@B@B@B@:
                        i@B@B@B@B@B@@@B@:
                       i@B@B@B@@@B@B@B@B@:
                      i@B@B@B@B@B@B@@@B@B@:
                     i@B@B@B@u. , .u@B@@@B@:
                    i@B@B@Br   .@    7@@B@@@:
                   i@B@B@u     u@.     0@B@B@:
                  i@@@B@       XB:      .@B@B@:
                 :@B@B@M       F@:       B@B@@@,
                :@B@B@B@Bv     LB      5B@B@B@B@,
               :@B@B@B@B@@@:    @    :@B@B@B@B@@@,
              :@B@B@B@B@@@@@Bv     v@@B@B@B@B@B@B@,
             :@B@@@B@B@B@B@B@B@B@B@@@B@B@@@B@B@B@B@,
            :@B@B@B@B@B@Br7@@@@@B@B@BB:5B@@@B@B@B@B@,
           :@B@B@B@B@B@B@    j@B@BBr   J@B@@@B@B@B@B@,
          :@B@B@B@B@B@B@B:      r      S@@B@@@B@B@B@B@,
         ,@B@B@B@B@B@@@B@.    7G@Pi    U@B@B@B@B@B@@@B@.
        ,@B@B@B@B@@@B@B@B. YB@B@B@B@B; LB@B@@@@@B@@@@@@@.
       ,@@@@@B@@@B@B@B@B@B@B@@@@@B@@@B@@@B@@@@@B@B@B@B@B@.
      ,@B@B@B@@@B@B@@@B@@@B@B@B@B@@@B@B@B@B@B@@@B@B@B@B@B@.
     .@@@B@B@B@B@@@B@B@B@B@B@B@B@B@@@B@B@B@B@B@@@@@B@B@B@B@.
    ,@B@@@B@B@@@B@@@B@B@B@B@B@B@B@@@B@@@B@@@B@@@B@B@B@B@B@B@.
   .@B@B@B@B@B@B@B@B@B@B@B@B@B@B@B@B@@@B@B@@@B@B@B@B@B@@@B@B@.
  ,@B@B@B@B@B@B@@@B@B@B@@@B@B@B@B@B@B@@@B@B@B@B@B@B@@@B@B@B@B@.
 :@B@@@B@B@B@B@B@B@@@B@@@B@B@B@B@B@B@B@B@B@B@B@B@B@@@B@B@@@B@@@.
i@B@B@BBB@MBB@B@B@B@MMB@O@B@B@B@B@B@B@B@BBM@MBB@BMOM8GBMZOOMMBB@
        .5            Yu                   B          k
        rP            15                   @          P7
        v0            LB    @i             B          FU
        7G             @   MBi            U@          Uq
        vE             v@YM @i           J@           vG
        vG               :  Bi       MMXE2            rO
        LN                  @v       B7               rB
        i8                  i:       @j               :@
        .B                           BN               ,B
         @                           @q               iM
         B7                          Bi          r    u5
         iB  .v                                  78 0 B:
          @r iL Z                               8iuqO,B
           Mi@kO:                                ::uO7
-->

{#<audio autoplay="" loop="" src="/web/20160423224308im_/http://searchfortheblindeye.com/mystery.mp3"></audio>#}
{#<div class="display"><a href="page1.html" style="text-decoration: none; cursor: url('/web/20160423224308im_/http://searchfortheblindeye.com/hand.cur'), auto;"><img height="600" width="600" src="/web/20160423224308im_/http://searchfortheblindeye.com/bill.gif" alt"19-17-23-5-5-19-11 5-20-6-23-1-13-21-23-22"></a></div>#}
{#</body></html><!--#}
